$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/*
 *@media screen and (min-width: 768px) {
 *  .container {
 *    max-width: 730px;
 *  }
 *
 *  [> Remove the padding we set earlier <]
 *  .header,
 *  .marketing,
 *  .footer {
 *    padding-left: 0;
 *    padding-right: 0;
 *  }
 *  [> Space out the masthead <]
 *  .header {
 *    margin-bottom: 30px;
 *  }
 *  [> Remove the bottom border on the jumbotron for visual effect <]
 *}
 */
.sidebar{
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar .tool{
  width: 50px;
  height: 50px;
}

.sidebar .media{
  height: 60px;
}

.sidebar #light-sensor{
  z-index: 1;
  background-color: red;
}

.sidebar #wheel-1{
  z-index: 2;
  background-color: blue;
}

.sidebar #wheel-2{
  z-index: 3;
  background-color: blue;
}

.sidebar #nxt{
  z-index: 4;
  background-color: orange;
}

.shapes{
  position: relative;
}

.wrapper{
  height: 519px;
  width: 239px;
  position: relative;
  margin: 0 auto;
  background-image: url('/images/bottom_view.jpg');
}
.wrap-tool{
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

#nxt-shape{
  width: 100px;
  height: 100px;
  position: absolute;
  left: 71px;
  top: 80px;
}

#sensor-shape{
  width: 100px;
  height: 75px;
  position: absolute;
  left: 71px;
  top: 0px;
}

#wheel-1-shape{
  width: 50px;
  height: 75px;
  top: 70px;
  position: absolute;
}

#wheel-2-shape{
  width: 50px;
  height: 75px;
  top: 70px;
  position: absolute;
  right: 0px;
}
