div(ng-include='\'partials/navbar\'')
.row
  .col-md-12
    .col-md-2.sidebar
      .sidebar(ng-include='\'partials/sidebar\'')
    .col-md-10
      .jumbotron
        .car-bottom.text-center
          img(src='images/bottom_view.jpg')
