div(ng-include='\'partials/navbar\'')
.row(ng-controller='assemblerCtrl', ng-init='init()')
  .col-md-12.workplace
    .col-md-2.sidebar.panel.panel-default
      .panel-heading
        |Tools Panel
      .tool#light-sensor
        p.text-center light sensor
      .tool#nxt
        p.text-center nxt module
      .tool#wheel-1
        p.text-center wheel 1
      .tool#wheel-2
        p.text-center wheel 2
      .panel-footer.pull-left
        p drag and drop the needed tools for your car
    .col-md-10
      .panel.panel-default
        .shapes.text-center
          .wrapper
            #nxt-shape
            #sensor-shape
            #wheel-1-shape
            #wheel-2-shape
  .navbar.navbar-default.navbar-inverse.navbar-fixed-bottom
    .container
      a.btn.btn-default.pull-right(ng-click='checkAnswers()',data-toggle='modal', tabindex="-1", data-target='#answer-modal', aria-hidden="true") Check answer
  .modal.fade#answer-modal(role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title Answer
        .answer-wrong(ng-hide='ok')
          .modal-body
            p
              |Your robot is not working well. Try again
          .modal-footer
            a.btn.btn-default(href='javascript:void(0);', ng-click='resetGame()') Ok
        .answer-ok(ng-show='ok')
          .modal-body
            p
              |Great! your robot should works, Do you want to continue?
          .modal-footer
            a.btn.btn-default(href='/scenario') Yes
            a.btn.btn-default(href='/') Restart
