.navbar.navbar-default.navbar-inverse.navbar-fixed-top(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      a.navbar-brand kidsOnRobots
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}
