div(ng-include='\'partials/navbar\'')
.row(ng-controller='ScenarioCtrl', ng-init='init()')
  .col-md-12.workplace
    .col-md-2.sidebar.panel.panel-default
      .panel-heading
        |Blocks Panel
      .media
        .wrap-tool
          .tool#light-sensor
      p.text-center light sensor
      .media
        .wrap-tool
          .tool#nxt
      p.text-center nxt module
      .media
        .wrap-tool
          .tool#wheel-1
      p.text-center wheel
      .media
        .wrap-tool
          .tool#wheel-2
      p.text-center wheel
      .panel-footer
        p drag and drop the needed tools for your car
    .col-md-10
      .col-md-12
        .slot#slot1
        .slot#slot2
        .slot#slot3
        .slot#slot4
        .slot#slot5
        .slot#slot6
  .navbar.navbar-default.navbar-inverse.navbar-fixed-bottom
