div(ng-include='\'partials/navbar\'')
.row(ng-controller='ScenarioCtrl', ng-init='init()')
  .col-md-12.workplace
    .col-md-2.sidebar.panel.panel-default
      .panel-heading
        |Blocks Panel
      .block(ng-repeat='block in blocks', ng-class='"block-"+block')
        p.text-center {{block}}
      .panel-footer.pull-left
        p drag and drop the needed tools for your car
    .col-md-10
      .col-md-12
        .slot(ng-repeat='slot in slots', ng-class='"slot"+slot')
  .navbar.navbar-default.navbar-inverse.navbar-fixed-bottom
