div(ng-include='\'partials/navbar\'')
.row(ng-controller='ScenarioCtrl', ng-init='init()')
  .col-md-12.workplace
    .col-md-2.sidebar.panel.panel-default
      .panel-heading
        |Blocks Panel
      .block(ng-repeat='block in blocks', ng-class='"block-"+block')
        p.text-center {{block}}
      .panel-footer.pull-left
        p drag and drop the needed tools for your car
    .col-md-10
      .col-md-12
        .slot(ng-repeat='slot in slots', ng-class='"slot"+slot')
  .navbar.navbar-default.navbar-inverse.navbar-fixed-bottom
    .container
      a.btn.btn-default.pull-right(ng-click='checkAnswer()',data-toggle='modal', tabindex="-1", data-target='#answer-modal', aria-hidden="true") Check answer
  .modal.fade#answer-modal(role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title Answer
        .answer-wrong(ng-hide='ok')
          .modal-body
            p
              |Your robot is not working well. Try rebuilding the blocks
          .modal-footer
            a.btn.btn-default(href='javascript:void(0);', ng-click='resetLevel()') Ok
        .answer-ok(ng-show='ok')
          .modal-body
            p
              |Great! your robot is working using {{$scope.userBlocks}}. Do you want to play again?
          .modal-footer
            a.btn.btn-default(href='javascript:void(0);', ng-click='resetGame()') Yes
