.row
  .panel.panel-default
    .panel-heading
      h4 Tools Panel
    .panel-body
      ul.media-list
        li.media
          .tool.light-sensor
        li.media
          .tool.motor
    .panel-footer
      p drag and drop the needed tools for your car
